#container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section {
    width: 20%;
    color: #FFF;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 3px 3px #000;
    padding: 50px;
    margin-top: 150px;
}

.section-done {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 20%;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 3px 3px #000;
    padding: 50px;
    margin-top: 150px;
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.congratulation-img{
    width: 280px;
    height: 200px;
}

.answer-quiz {
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.answer-quiz:hover {
    border-color: #FF0000;
}

.answer-quiz label {
    cursor: pointer;
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-next {
    width: 200px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-replay {
    width: 100px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* .true {
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 30px;
    background-color: #008000;
    color: #ffff00;
}

.false {
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 30px;
    background-color: #FF0000;
    color: #FFF;
} */